.teambox-img img{
    width: 233px;
    padding-top: 50px;
}
.teambox-text p{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115.5%;    
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.teambox-text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 115.5%;    
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.teambox-text h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 115.5%;    
    letter-spacing: 0.05em;
    color: #FFFFFF;
    
}