.background-red{
    background-color: rgba(237, 30, 36, 0.2);
}
.background-grey{
    background-color: #191919;
}
.box-text h3{
    font-size: 24px !important;
}
.box-text h5{
    font-size: 18px !important;
}