.banner-1 img {
  width: 100%;
}
.about-text {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.about-yatra {
  margin-top: 70px;
}

.about-yatra h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ed1e24;
}

.about-yatra p {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.mission-box {
  margin-top: 100px;
}

.meet-team {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ed1e24;
}

.box-team {
  border-radius: 19px;
  border: 1px solid #ed1e24;
  height: 606px;
}

/* ---------responsive---- */

@media screen and (max-width: 992px) {
  .box-mission {
    margin-top: 80px;
  }
  .box-team {
    margin-top: 50px;
  }
}
