@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contact-us-section {
  margin-top: 110px;
}

.contact-banner {
  background-color: #252525;
  height: 507px;
  display: flex;
  align-items: center;
}

.contact-us {
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  letter-spacing: 0.05em;
  color: #ED1E24;
}


.contact-data p {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 115.5%;
  letter-spacing: 0.135em;
  color: #FFFFFF;
}

.contact-info {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  padding-top: 20px;
}

.touch {
  background-color: #252525;
  border: 2px solid #ED1E24;
}

.touch h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ED1E24;
}

.touch p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.text-area {
  height: 157px;
}

input {
  width: 223px;
  height: 62px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF !important;
}

.form-bg {
  background: rgba(217, 217, 217, 0.4) !important;
  border: none !important;
  border-radius: 0% !important;
  color: #ffffff !important;
}

.banner-contact {
  margin-top: 200px !important;
}

.text-area {
  height: 157px;
}

::placeholder {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF !important;
}

.send-btn {
  display: flex;
  justify-content: center;
}

.send-message {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  width: 369px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ED1E24;
}

button {
  border: none;
}

.mt-chain {
  margin-top: 100px;
}

.banner-3 {
  margin-top: 100px;
}

.red {
  color: #ED1E24;
}


.location {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ED1E24;
}

.banner-faq {
  margin-top: 150px;
}

.mt-faq {
  margin-top: 43px;
}

.faq {
  font-weight: 700;
  font-size: 128px;
  line-height: 130%;
  letter-spacing: 0.135em;
  color: #ED1E24;
}

.banner-faq h5 {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.135em;
  color: #ED1E24;
}

.banner-faq .faq-description {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.135em;
  color: #FFFFFF;
}

.frequently {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.135em;
  color: #FFFFFF;
}

.banner-faq .faq-point {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: 0.135em;
  color: #ED1E24;
}

.faq-point p {
  line-height: 130%;
}