@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Pridi:wght@200;300;400;500;600;700&display=swap');

.header {
  font-size: 15px;
}

/* --------banner-1------------ */
.banner-1 img {
  width: 100%;
}

/* -------banner-2--------- */
.banner-machine {
  margin-top: 20px;
}
.banner-machine h2 {
  margin-top: 57px;
  font-family: Helvetica;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ed1e24;
}

.banner-machine ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.banner-machine ul {
  margin-top: 58px;
  padding-left: 0;
}

.banner-machine .chain-break-machine {
  margin-right: 72px;
}

/* -----banner-3--------- */
.banner-3 h2 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 100px;
}
.banner-3 .chain-break-machine {
  margin-top: 130px;
}

/* ---banner-about--- */

.banner-about {
  margin-top: 144px;
}

.banner-about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 0;
  font-family: Helvetica;
}

.banner-about span {
  color: #ed1e24;
}

.banner-about p {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 147.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.yatra-btn {
  display: flex;
  justify-content: center;
}

.explore {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
  width: 295px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ed1e24;
  border-radius: 13px;
  color: #ffffff;
}
.explore:hover {
  color: #ffffff;
}

.justified {
  text-align: justify;
}

/* .chain-line{
  width: 100px !important;
} */

.chain-break {
  width: 50%;
  padding-left: 0;
  margin-left: -15px;
}
/* ----------Responsive-------------- */
@media screen and (max-width: 992px) {
  .box-info {
    margin-top: 80px;
  }
  .explore {
    margin-top: 50px;
  }
  .mt-small {
    margin-top: 40px;
  }
  .chain-break {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-right: 0;
  }
  .banner-machine .chain-break-machine {
    width: 100%;
  }
  .banner-3 {
    margin-top: 144px !important;
  }
  .banner-3 h2 {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1200px) and (min-width: 990px) {
  .div-row {
    align-items: center;
  }
  .banner-3 {
    margin-top: 144px !important;
  }
}
