.box-1 {
	position: relative;
}

.box-1 {
	border-radius: 19px;
	border: 2px solid rgba(237, 30, 36, 0.2);
}

.box-mission-img {
	position: absolute;
	top: -10%;
	text-align: center;
	right: 50%;
	transform: translateX(50%);
}

.box-mission-text h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 38px;
	line-height: 115.5%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.box-mission-text p {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 115.5%;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.background-red {
	background-color: rgba(237, 30, 36, 0.2);
}

.background-grey {
	background-color: #191919;
}