.box-1 {
    border-radius: 19px;
    border:2px solid rgba(237, 30, 36, 0.2);
    position: relative;
}

.box1-img {
    position: absolute;
    top: -10%;
    text-align: center;
    right: 50%;
    transform: translateX(50%);
  }

.background-red{
    background-color: rgba(237, 30, 36, 0.2);
}
.background-grey{
    background-color: #191919;
}