.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #ed1e24 !important;
}
.navbar-toggler:focus {
  color: transparent;
}

.active {
  color: #ed1e24;
}

.nav-details {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.nav-link {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.email {
  display: flex;
}

/* @media (max-width:992px){
    .navbar-collapse{
        display: none;
    }
} */
.home {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (max-width: 1200px) {
  .phn-no {
    display: none;
  }
  .email {
    display: none;
  }
}
