@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.box-info {
  position: relative;
}

.banner-3 .box-info {
  border-radius: 19px;
  border: 2px solid rgba(237, 30, 36, 0.2);
}

.box-info-img {
  position: absolute;
  top: -16%;
  text-align: center;
  right: 50%;
  transform: translateX(50%);
}

.info-box-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.info-box-text h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 115.5%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.background-red {
  background-color: rgba(237, 30, 36, 0.2);
}

.background-grey {
  background-color: #191919;
}