@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: #121212;
  font-family: "Orbitron", sans-serif;
  font-style: normal;
}

.padtb {
  padding: 50px 0;
}

ul li {
  list-style: none;
}

.pointer{
  cursor: pointer;
}
